WebAPITools/TestingRestfulUserObject/WebContent/wsdl/UserDAO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://user.via.dk" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://user.via.dk" xmlns:intf="http://user.via.dk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://user.via.dk" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getUsers">
    <complexType/>
   </element>
   <element name="getUsersResponse">
    <complexType>
     <sequence>
      <element name="getUsersReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getUser">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserResponse">
    <complexType>
     <sequence>
      <element name="getUserReturn" type="impl:User"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="User">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="deleteUser">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUserResponse">
    <complexType/>
   </element>
   <element name="updateUser">
    <complexType>
     <sequence>
      <element name="user" type="impl:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUserResponse">
    <complexType/>
   </element>
   <element name="addUser">
    <complexType>
     <sequence>
      <element name="user" type="impl:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserResponse">

      <wsdl:part element="impl:getUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserRequest">

      <wsdl:part element="impl:deleteUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserRequest">

      <wsdl:part element="impl:addUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserRequest">

      <wsdl:part element="impl:getUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateUserRequest">

      <wsdl:part element="impl:updateUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersRequest">

      <wsdl:part element="impl:getUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateUserResponse">

      <wsdl:part element="impl:updateUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserResponse">

      <wsdl:part element="impl:addUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersResponse">

      <wsdl:part element="impl:getUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserResponse">

      <wsdl:part element="impl:deleteUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserDAO">

      <wsdl:operation name="getUsers">

         <wsdl:input message="impl:getUsersRequest" name="getUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUsersResponse" name="getUsersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUser">

         <wsdl:input message="impl:getUserRequest" name="getUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserResponse" name="getUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdl:input message="impl:deleteUserRequest" name="deleteUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteUserResponse" name="deleteUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUser">

         <wsdl:input message="impl:updateUserRequest" name="updateUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateUserResponse" name="updateUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserDAOSoapBinding" type="impl:UserDAO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserDAOService">

      <wsdl:port binding="impl:UserDAOSoapBinding" name="UserDAO">

         <wsdlsoap:address location="http://localhost:8080/TestingRestfulUserObject/services/UserDAO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
